@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --purple: rgba(0, 0, 255, 0.5);
  --dark-purple: rgba(0, 0, 150, 0.5);
  --light-purple: rgba(0, 0, 255, 0.2);
  --white: rgba(255, 255, 255, 0.8);
  --black: rgba(0, 0, 0, 0.7);
  --gray: rgba(200, 200, 200, 0.7);
  --gray2: rgba(200, 200, 255, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  height: 100%;
  position: relative; /** for 'position: absolute' of form */
  font-family: "Roboto", sans-serif;
  background-color: var(--light-purple);
}

.content-container {
  margin: auto;
  width: 75%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
  box-shadow: 5px 5px 15px 10px var(--dark-purple);
}

.content {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main";
}

/* * top section */
header {
  height: 7vh;
  grid-area: header;
  font-style: italic;
  font-weight: bold;
  background-color: var(--purple);
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-grp {
  color: var(--white);
  margin: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* *sidebar section */
nav {
  height: 90vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: nav;
  background-color: var(--light-purple);
  color: var(--white);
}

ul {
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
}

li,
.nav-project {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 15px;
}

.li-container {
  display: flex;
  gap: 8px;
}

li:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--light-purple);
  transition: all 0.3s;
}

input {
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.checked {
  text-decoration: line-through;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--gray);
  transition: all 0.3s;
}

.active {
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: var(--light-purple);
  transition: all 0.3s;
}

svg {
  width: 30px;
  stroke: var(--dark-purple);
}

.nav-project {
  padding: 5px 5px;
  font-size: 1.4rem;
  border-top: 1px solid var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.project-btn,
.task-btn,
.add-project-btn,
.add-task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
/* * bootsrap */
.btn-primary {
  background-color: var(--purple);
}

/* * content section */
main {
  position: relative;
  grid-area: main;
  padding-left: 50px;
  padding-top: 30px;
  color: var(--black);
  background-color: var(--white);
}

.main-title {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-title {
  border-bottom: 1px solid var(--dark-purple);
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.form-project-cont,
.form-task-cont {
  padding: 20px 20px 80px 20px;
  box-shadow: 0 0 10px 0 var(--purple);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

.hide {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.form-project,
.form-task {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.form-add {
  padding: 10px;
  font-size: 2rem;
  font-style: italic;
  border-top: 1px solid var(--dark-purple);
  border-right: 1px solid var(--dark-purple);
}

.form-project label,
.form-task label {
  padding: 5px;
}

.form-project input,
.form-task input {
  padding: 5px 36px 5px 5px;
}

.project-submit-btn,
.task-submit-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* * task content  */
.task-content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-task-container {
  margin-bottom: 5px;
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-content {
  width: 90%;
  padding: 10px;
  background-color: var(--gray2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-project-content {
  width: 100%;
  padding: 5px;
}

.cont {
  height: 100%;
}
.blur-bg {
  filter: blur(5px);
}
